* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 20rem;
  border: 2px solid black;
  background-color: rgb(233, 194, 38);
}

#time {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

span {
  font-size: 2rem;
  margin: 1.5rem;
}

button {
  height: 1.8rem;
  width: 6rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: rgb(255, 0, 0);
  background-color: aqua;
  border-radius: 0.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}
