* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.color_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 20rem;
  border: 2px solid black;
}
