* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 20rem;
  border: 2px solid black;
  background-color: cornsilk;
}

button {
  margin-top: 1rem;
  margin-right: 1rem;
}
